<form>
    <div class="mb-2">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="developerName" name="developerName">
    </div>
    <div class="mb-2">
        <label for="Address" class="form-label">Address</label>
        <input type="text" class="form-control" [(ngModel)]="developerAddress" name="developerAddress">
    </div>
    <div class="mb-2">
        <label for="City" class="form-label">City</label>
        <input type="text" class="form-control" [(ngModel)]="developerCity" name="developerCity">
    </div>
    <div class="mb-2">
        <label for="PhoneNumber" class="form-label">Phone Number</label>
        <input type="text" class="form-control" [(ngModel)]="developerPhoneNumber" name="developerPhoneNumber">
    </div>
    <div class="mb-2">
        <label for="Email" class="form-label">Email</label>
        <input type="text" class="form-control" [(ngModel)]="developerEmail" name="developerEmail" >
    </div>
    <div class="mb-2">
        <label for="ZipCode" class="form-label">Zip Code</label>
        <input type="text" class="form-control" [(ngModel)]="developerZipCode" name="developerZipCode">
    </div>
    <button (click)="addDeveloper()" *ngIf="developer.id==0"  class="btn btn-primary">
        Add
    </button>
    <button (click)="updateDeveloper()" *ngIf="developer.id!=0"  class="btn btn-primary">
        Update
    </button>
    
</form>