<form>
    <div class="mb-2">
        <label for="PropertyConfigID" class="form-label">PropertyConfigID</label>
        <input type="number" class="form-control" [(ngModel)]="propertyConfigItemPropertyConfigID"
            name="propertyConfigItemPropertyConfigID">
    </div>
    <!-- <div class="mb-2">
        <label for="ConfigItemID" class="form-label">ConfigItemID</label>
        <input type="number" class="form-control" [(ngModel)]="propertyConfigItemConfigItemID"
            name="propertyConfigItemConfigItemID">
    </div>
    <div class="mb-2">
        <label for="propertyConfigOptionID" class="form-label"> propertyConfigOptionID</label>
        <input type="number" class="form-control" [(ngModel)]="propertyConfigOptionID" name="propertyConfigOptionID">
    </div> -->

    <div class="mb-3">
        <label for="">Config Item</label>
        <select class="form-control" name="descriptionConfigItems" id="descriptionConfigItems"
            [(ngModel)]="descriptionConfigItems" (change)="onDisplayCategory()">
            <option *ngFor="let typeConfigItems of configurationItemsList$|async" [ngValue]="typeConfigItems.id">
                {{typeConfigItems.description}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="">Config Option</label>
        <select class="form-control" name="descriptionConfigOptions" id="descriptionConfigOptions"
            [(ngModel)]="descriptionConfigOptions">
            <option *ngFor="let typeConfigOptions of configurationOptionsList$|async" [ngValue]="typeConfigOptions.id">
                {{typeConfigOptions.description}}</option>
        </select>
    </div>

    <button (click)="addClientPropertyConfigItem()" *ngIf="propertyConfigItem.id==0" class="btn btn-primary">
        Add
    </button>
    <button (click)="updateClientPropertyConfigItem()" *ngIf="propertyConfigItem.id!=0" class="btn btn-primary">
        Update
    </button>
</form>