<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClientForm</title>
</head>

<body>
    <h1>Working</h1>
    <form>
        <div class="mb-3">
            <select class="form-control" name="descriptionConfigItems" id="descriptionConfigItems"
                [(ngModel)]="descriptionConfigItems" (change)="onDisplayCategory()">
                <option *ngFor="let typeConfigItems of configurationItemsList$|async"
                    [ngValue]="typeConfigItems.id">{{typeConfigItems.description}}</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-control" name="descriptionConfigOptions" id="descriptionConfigOptions"
                [(ngModel)]="descriptionConfigOptions">
                <option disabled value="null">Select</option>
                <option *ngFor="let typeConfigOptions of configurationOptionsList$|async"
                    [ngValue]="typeConfigOptions.id">{{typeConfigOptions.description}}</option>
            </select>
        </div>
        

    </form>
</body>

</html>