<form>
    <div class="mb-2">
        <label for="Description" class="form-label">Description</label>
        <input type="text" class="form-control" [(ngModel)]="configOptDescription" name="configOptionDescription">
    </div>
    <div class="mb-2">
        <label for="ConfigurationItem" class="form-label">Configuration Item</label>
        <input type="text" class="form-control" [(ngModel)]="configItemId" name="configItemId">
    </div>
    <button (click)="addConfigOption()" *ngIf="configOption.id==0"  class="btn btn-primary">
        Add
    </button>
    <button (click)="updateConfigOption()" *ngIf="configOption.id!=0"  class="btn btn-primary">
        Update
    </button>
</form>