<app-nav-menu></app-nav-menu>
<div class="card m-5" style="width: 18rem" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>UserName: </strong>{{userDetails.userName}}</li>
      <li class="list-group-item"><strong>FirstName: </strong>{{userDetails.firstName}}</li>
        <li class="list-group-item"><strong>LastName: </strong>{{userDetails.lastName}}</li>
          <li class="list-group-item"><strong>Email: </strong>{{userDetails.email}}</li>
         
  </ul>
</div>