
<header>
  <h2 style="text-align:center">Home Sweet Home</h2>
  <app-nav-menu></app-nav-menu>
</header>
<div class="card m-0" style="width: 18rem" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>UserName: </strong>{{userDetails.userName}}</li>
  </ul>
</div>
<div>
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Zip Code</th>
      <th>Options</th>
    </thead>
    <tbody>
      <tr *ngFor="let developerItem of developerList$|async">
        <td>{{developerItem.id}}</td>
        <td>{{developerItem.name}}</td>
        <td>{{developerItem.address}}</td>
        <td>{{developerItem.city}}</td>
        <td>{{developerItem.phoneNumber}}</td>
        <td>{{developerItem.email}}</td>
        <td>{{developerItem.zipCode}}</td>
        <td>
          <button class="btn btn-outline-primary me-2 mb-1"  (click)="showProjectId(developerItem.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
              <path
                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
              <path
                d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
            </svg></button>
        </td>
        <td>
          <div>
            <button class="btn btn-outline-primary me-2 mb-1" (click)="showClientID(developerItem.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill"
                viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                <path fill-rule="evenodd"
                  d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
              </svg>
            </button>
          </div>
        </td>
        </tr>
    </tbody>
  </table>
</div>