<div class="container">
<style>
h1{
  text-align: center;
}
</style>
<!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <a class="button" routerLink="/Developer-List" routerLinkActive="activebutton">Developers</a> |
  <a class="button" routerLink="/Client-List" routerLinkActive="activebutton">Clients</a> |
  <a class="button" routerLink="/Project-List" routerLinkActive="activebutton">Projects</a> |
  <a class="button" routerLink="/Property-List" routerLinkActive="activebutton">Property</a>
</nav> -->

<app-nav-menu></app-nav-menu>
  <router-outlet></router-outlet>
  <!-- <app-developer></app-developer> -->
  <!-- <app-client></app-client> -->
  <!-- <app-project></app-project>
  <app-property></app-property>
  <app-contract></app-contract>
  <app-propertyconfiguration></app-propertyconfiguration>
  <app-configurationitem></app-configurationitem>
  <app-configurationoption></app-configurationoption>
  <app-propertyconfigurationitems></app-propertyconfigurationitems> -->
</div>
