<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Personal ID</th>
        <th>Series Number</th>
        <th>Address</th>
        <th>Issued By</th>
        <th>Validity</th>
        <th>DeveloperID</th>
    </thead>
    <tbody>
        <tr *ngFor="let clientItem of clientList$|async">
            <td>{{clientItem.id}}</td>
            <td>{{clientItem.firstName}}</td>
            <td>{{clientItem.lastName}}</td>
            <td>{{clientItem.phoneNumber}}</td>
            <td>{{clientItem.personalID}}</td>
            <td>{{clientItem.serieNo}}</td>
            <td>{{clientItem.address}}</td>
            <td>{{clientItem.issuedBy}}</td>
            <td>{{clientItem.validity}}</td>
            <td>{{clientItem.developerID}}</td>
        </tr>
    </tbody>
</table>